<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Diego Mesquita</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">CV</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Research
            </a>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" href="/overview">Overview</a></li> -->
              <li><a class="dropdown-item" href="/publications">Publications</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Group
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/people">People</a></li>
              <li><a class="dropdown-item" href="/alumni">Alumni</a></li>
              <li><a class="dropdown-item" href="/join">Join</a></li>
            </ul>
          <!-- </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div>
            <a href="https://scholar.google.com.br/citations?user=6_FDUGEAAAAJ&amp;hl=pt-BR" class="bi bi-google"></a>
            <a href="https://github.com/weakly-informative" class="bi bi-github"></a>
            <a href="https://twitter.com/wkly_infrmtive" class="bi bi-twitter-x"></a>
            <a href="https://www.linkedin.com/in/diego-mesquita-4901a9141" class="bi bi-linkedin"></a>
        </div>
      </div>
    </div>
  </nav>
