<%- include("partials/header.ejs") %>
    <%- include("partials/menu.ejs") %>

        <div class="content">
            <div class="container">
                <div class="row">

                  <!-- INÍCIO CARD ALUNO: TIAGO DA SILVA -->
                    <div class="col">
                        <div class="card">
                            <img src="images/tiago-da-silva.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Tiago da Silva</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">PhD</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Post-doc at MBZUAI (UAE)</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:tiago.henrique@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href="https://tiagodsilva.github.io"><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/eliezer.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Eliezer da Silva</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">Post-doc</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Post-doc at BCAM (Spain)</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->
                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/mariana.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Mariana Neves</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Geophysicist at Viridien (Brazil)</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->
                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/matias.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Alan Matias</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">PhD (co-supervised)</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Senior data scientist at PicPay (Brazil)</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->
                </div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
