<%- include("partials/header.ejs") %>
    <%- include("partials/menu.ejs") %>

        <div class="content">
            <div class="container">
                <div class="row">
                    <!-- INÃCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/tiago-da-silva.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Tiago da Silva</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">Post-doc</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                </div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
