<%- include("partials/header.ejs") %>
    <%- include("partials/menu.ejs") %>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="card text-center">
                            <img src="https://weakly-informative.github.io/profile03.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h2 class="card-title">Diego Mesquita</h2>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">PROFESSOR</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Machine Learning</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p>Since 2022, I am an assistant professor at <a
                                href="https://en.wikipedia.org/wiki/Funda%C3%A7%C3%A3o_Getulio_Vargas">FGV</a>'s <a
                                href="https://emap.fgv.br/">EMAp</a>. I am broadly interested in fundamental ML
                            research,
                            with a special focus on probabilistic methods and geometric deep learning.</p>
                        <p>Follow me on twitter <a href="https://twitter.com/wkly_infrmtive"> @wkly_infrmtive </a> for
                            somewhat regular updates and for occasional bad jokes. You can also contact me through
                            diego.mesquita@fgv.br </p>
                        <div class="cta-work">
                            <p>
                            <h5>Want to work with me?</h5>
                            <span>I'm always looking for excellent post-docs and PhD/MSc students.</span>
                            </p>
                        </div>
                        <ul>
                            <li>Post-doc positions: send me an email with your CV, a brief motivation, and a pointer to
                                your
                                favorite work. </li>
                            <li> MSc/PhD students: In both cases, you need to sign up for EMAp's <a
                                    href="https://emap.fgv.br/en/master-and-doctorate-degree">selective process.</a> For
                                PhDs, I strongly encourage you to contact me before applying.</li>
                        </ul>
                        I am committed to foster diversity and encourage folks from different backgrounds (e.g.,
                        nationality, sex, gender, and religion) to apply. <p>
                        </p>
                    </div>

                    <div class="col">
                    </div>
                </div>

            </div>
        </div>
        </div>

        <%- include("partials/footer.ejs") %>