<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>

<div class="content">

<div class="cta-work">
<p>
<h5>Postdoctoral Vacancy at the Getulio Vargas Foundation (FGV), Rio de Janeiro</h5>
<span>
I am inviting applications for a highly motivated postdoctoral researcher to join my research group at FGV. Our work focuses primarily on fundamental research in machine learning (ML) and deep learning (DL), with a special emphasis on probabilistic and geometric ML. For more insights into our recent projects, visit my personal webpage at weakly-informative.github.io.
Research directions:  While there is room for negotiation, I am prioritizing post-docs to work in i) theoretical foundations and applications of generative flow networks; ii)  the intersection of information geometry and machine learning; iii) differentially private ML; and iv) graph, topological, and sheaf neural networks.

Candidate Profile: Solid background in mathematics, probability, statistics, or theoretical computer science, along with decent coding skills.  I am very open to candidates who did not do a PhD in ML, but have the necessary background to excel in the topic we agree upon. For example, we'll work on GNNs and you're well-versed in graph theory, or we'll work on differential privacy and you have a strong background in probability theory (or some closely related field). Extra points for experience publishing in conferences like NeurIPS/ICML/ICLR/AAAI/AISTATS or high-ranking venues within your area of expertise.
Application Process: Please email your cover letter, CV, and a link to your most relevant work to diego.mesquita@fgv.br. Ensure "POST-DOC VACANCY" is included in the email subject to guarantee your application is noticed. We are dedicated to fostering diversity and inclusivity; candidates from diverse backgrounds are strongly encouraged to apply.

Location & Compensation: We are in beautiful Rio de Janeiro (Brazil), overlooking the Botafogo beach. The compensation is highly competitive by Brazilian standards—a 12k BRL monthly scholarship.

Deadline: The position is open until filled, and the start date is flexible. We are eager to fill this position as soon as possible, so we encourage you to apply early, especially if you are nearing the completion of your PhD.
</span>
</p>
</div>
</div>

<%- include("partials/footer.ejs") %>
