<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>

<div class="content">
Postdoctoral Vacancy at the Getulio Vargas Foundation (FGV), Rio de Janeiro
I am inviting applications for a highly motivated postdoctoral researcher to join my research group at FGV. Our work focuses primarily on fundamental research in machine learning (ML) and deep learning (DL), with a special emphasis on probabilistic and geometric ML. For more insights into our recent projects, visit my personal webpage at weakly-informative.github.io.
Research directions:  I am prioritizing post-docs to work on i) theoretical foundations and applications of generative flow networks; ii)  the intersection of information geometry and machine learning; iii) differentially private ML for geometric DL; and iv) graph, topological, and sheaf neural networks.  
Candidate Profile: Decent coding skills along with a solid background in one or more of the following: machine learning, mathematics, probability, statistics, or theoretical computer science. While appreciated, a background in ML is not mandatory as long as you have the right technical tools. Experience publishing papers in top-tier journals or conferences in your original field is also greatly appreciated.
Application Process: Please email your cover letter, CV, and a link to your most relevant work or preprint to diego.mesquita@fgv.br. Ensure "POST-DOC VACANCY" is included in the email subject to guarantee your application is noticed. We are dedicated to fostering diversity and inclusivity; candidates from diverse backgrounds are strongly encouraged to apply.
Location & Compensation: We are located in beautiful Rio de Janeiro (Brazil), overlooking the Botafogo beach. The compensation is highly competitive by Brazilian standards, offering a 12k BRL monthly scholarship.
Deadline: The position is open until filled, and the start date is flexible. We are eager to fill this position as soon as possible, so early applications are encouraged, especially if you are nearing the completion of your PhD.
</div>

<%- include("partials/footer.ejs") %>