<%- include("partials/header.ejs") %>
    <%- include("partials/menu.ejs") %>


        <div class="content">
            <div class="container">
                <div class="row">
                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/ana-tenorio.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Ana Tenório</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">Post-doc</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Geometric Deep Learning</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:ana.tenorio@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href="https://sites.google.com/ime.usp.br/analuizatenorio"><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/andre_ribeiro.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">André Ribeiro</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">PhD Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Geometric Deep Learning</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:andre.guimaraes@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/tamara.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Tamara Pereira</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">PhD Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Geometric Deep Learning</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:tamara.pereira@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/amanda.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Amanda Perez</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Differential Privacy</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:amanda.perez@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                 <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/ana_carolina.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Ana Erthal</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/juan.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Juan Belieni</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="mailto:juan.araujo@fgv.br"><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/pedro.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Pedro Dall</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->


                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/profile-img.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Leonardo Belo</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                   

                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/profile-img.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Gustavo Sanches</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">MSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                    <!-- INÍCIO CARD ALUNO -->
                    <div class="col">
                        <div class="card">
                            <img src="images/profile-img.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="profile-student-name">
                                    <h5 class="card-title">Larissa Afonso</h5>
                                </div>
                                <div class="profile-student"><span class="badge text-bg-primary">BSc Student</span>
                                </div>
                                <div class="profile-student">
                                    <p class="card-text">Deep Generative Models</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                                    <a href=""><i class="bi bi-google"></i></a>
                                    <a href=""><i class="bi bi-github"></i></a>
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-globe-americas"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM CARD ALUNO -->

                </div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
