<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>

<div class="content">
    <div class="container 75%">
        <h3 style="text-align: center">Selected publications</h3>
        <ul>
            <li>D. de Souza, Y. Zhu, J. Cunningham, Y. Saporito, D. Mesquita, M. Deisenroth. <a href="">Infinite Neural Operators: Gaussian Processes on Functions</b></a> <span class="badge text-bg-secondary">NeurIPS 2025</span></li>            
            <li> I. Chaves, V. Farias, A. Perez, D. Mesquita, J. Machado. <a href="https://cycle2.sp2025.ieee-security.org/doc/sp2025c2-final635.pdf?cap=hcav635iThqzbGSQNVsmRPULQEnVKLB">Differentially Private Selection using Smooth Sensitivity</a> <span class="badge text-bg-secondary">IEEE S&P 2025</span></li>
            <li> T. da Silva, A. Souza, O. Rivasplata, V. Garg, S. Kaski, D. Mesquita. <a href="https://openreview.net/forum?id=PJNhZoCjLh">Generalization and Distributed Learning of GFlowNets</a> <span class="badge text-bg-secondary">ICLR 2025</span></li>
            <li> T. da Silva, R. Alves, E. da Silva, A. Souza, V. Garg, S. Kaski, D. Mesquita. <a href="https://openreview.net/forum?id=9GsgCUJtic">When do GFlowNets learn the right distribution?</a> <span class="badge text-bg-secondary">ICLR 2025</span></li>
            <li> T. da Silva, D. de Souza, D. Mesquita. <a href="https://openreview.net/forum?id=Nv0Vvz588D">Streaming Bayes GFlowNets</a> <span class="badge text-bg-secondary">NeurIPS 2024</span></li>
            <li> T. da Silva, E. Silva, D. Mesquita. <a href="https://openreview.net/forum?id=N5H4z0Pzvn">On Divergence Measures for Training GFlowNets</a> <span class="badge text-bg-secondary">NeurIPS 2024</span></li>
            <li>P. Blomstedt, D. Mesquita, O. Rivasplata, J. Lintusaari, T. Sivula. J. Corander, S. Kaski. <a href="https://projecteuclid.org/journals/bayesian-analysis/advance-publication/Meta-Analysis-of-Bayesian-Analyses/10.1214/24-BA1465.full">Meta-analysis of Bayesian analyses</a> <span class="badge text-bg-secondary">Bayesian Analysis 2024</span></li>
            <li>A. Matias, C. Mattos, J. Gomes, D. Mesquita. <a href="https://openreview.net/forum?id=MSMKQuZhD5">Amortized Variational Deep Kernel Learning</a> <span class="badge text-bg-secondary">ICML 2024</span></li>
            <li>T. da Silva, A. Souza, L. Carvalho, S. Kaski, D. Mesquita. <a href="https://arxiv.org/abs/2406.03288">Embarrassingly Parallel GFlowNets</a> <span class="badge text-bg-secondary">ICML 2024</span></li>
            <li>D. de Souza, A. Nikitin, S. T. John, M. Ross,  M. A. Álvarez, M. P. Deisenroth, J. Gomes, D. Mesquita, C. Mattos. <a href="https://arxiv.org/abs/2310.11527">Thin and deep Gaussian processes</a> <span class="badge text-bg-secondary">NeurIPS 2023</span> <a href="https://neurips.cc/virtual/2023/poster/69917"><i class="bi bi-youtube"></i></a></li>
            <li>T. Pereira, E. Nascimento, L. Resck, D. Mesquita, A. Souza. <a href="https://arxiv.org/abs/2303.10139">Distill n' Explain: explaining graph neural networks using simple surrogates</a> <span class="badge text-bg-secondary">AISTATS 2023</span> <a href="https://www.youtube.com/watch?v=DsTpJfjz6BQ"><i class="bi bi-youtube"></i></a></li>
            <li>A. Souza, D. Mesquita, S. Kaski, V. Garg. <a href="https://arxiv.org/abs/2209.15059">Provably expressive temporal graph networks</a> <span class="badge text-bg-secondary">NeurIPS 2022</span> <a href="https://slideslive.com/38990510/provably-expressive-temporal-graph-networks?ref=search-presentations-provably+expressive+tempora"><i class="bi bi-youtube"></i></a></li>
            <li>D. de Souza, D. Mesquita, S. Kaski, L. Acerbi. <a href="https://proceedings.mlr.press/v151/de-souza22a/de-souza22a.pdf">Parallel MCMC without embarrassing failures</a> <span class="badge text-bg-secondary">AISTATS 2022</span> <a href="https://slideslive.com/38980456/parallel-mcmc-without-embarrassing-failures?ref=recommended"><i class="bi bi-youtube"></i></a></li>	
            <li> K. El Mekkaoui, D. Mesquita, P. Blomstedt, S. Kaski. <a href="https://proceedings.mlr.press/v161/mekkaoui21a.html">Federated stochastic gradient Langevin dynamics</a> <span class="badge text-bg-secondary">UAI 2021</span> <a href="https://underline.io/lecture/28913-federated-stochastic-gradient-langevin-dynamics"><i class="bi bi-youtube"></i></a></li> 
            <li>D. Mesquita, A. Souza, S. Kaski. <a href="https://papers.nips.cc/paper/2020/file/1764183ef03fc7324eb58c3842bd9a57-Paper.pdf">Rethinking pooling in graph neural networks</b></a> <span class="badge text-bg-secondary">NeurIPS 2020</span> <a href="https://crossminds.ai/video/rethinking-pooling-in-graph-neural-networks-606feb39f43a7f2f827c0f1b/"><i class="bi bi-youtube"></i></a></li>
            <li>D. de Souza, D. Mesquita, J. Gomes, C. Mattos. <a href="https://proceedings.mlr.press/v130/souza21a.html">Learning GPLVM with arbitrary kernels using the unscented transformation</b></a> <span class="badge text-bg-secondary">AISTATS 2020</span> <a href="https://crossminds.ai/video/learning-gplvm-with-arbitrary-kernels-using-the-unscented-transformation-60887bae999d0d037e96e5e4/"><i class="bi bi-youtube"></i></a></li>
            <li>D.  Mesquita, P. Blomstedt, S. Kaski. <a href="http://auai.org/uai2019/proceedings/papers/496.pdf">Parallel MCMC using deep invertible transformations</a> <span class="badge text-bg-secondary">UAI 2019</span></li>
        </ul>
    </div>
</div>

<div class="container 75%">
    <h3 style="text-align: center">Preprints</h3>
    <ul>
        <li> E. Nascimento, D. Mesquita, S. Kaski, A. Souza <a href="https://arxiv.org/abs/2403.04605">In-n-Out: Calibrating Graph Neural Networks for Link Prediction</a></li>
        <li>T. da Silva, A. E. Silva,  A. Ribeiro, A. Góis, D. Heider, S. Kaski, D. Mesquita <a href="https://arxiv.org/abs/2309.12032v1">Human-in-the-Loop Causal Discovery under Latent Confounding using Ancestral GFlowNets</a></li>
    </ul>
</div>

<%- include("partials/footer.ejs") %>
