@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

.profile-student {
    margin-bottom: 1rem;
}

.content {
    margin: 2rem;
}

.profile-student-name {
    margin-bottom: -0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-family: "Raleway", sans-serif;
}

.card {
    margin-bottom: 2rem;
    width: 22rem;
}